@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  padding: 0px; 
}
/*___________________addPage_____________________________*/

.AddForm{
@apply w-full h-screen flex flex-col justify-center items-center
}
.AddForm-Form{
  @apply bg-slate-50 md:w-1/2 h-5/6 flex flex-col justify-start items-center gap-10
    /* rounded-xl */
}
.desc{
  @apply px-10 text-center text-gray-700 font-semibold
}
.file-input{
  padding: 20px 50px;  
  width: 85%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50px;
  @apply bg-red-800 text-red-200 
}
.file-input input{
 @apply flex  w-full 
}

/*___________________exractpage_____________________________*/

.ExtractPage{
  @apply w-full py-10 flex flex-col justify-center gap-10 items-center
}
.heading{
@apply text-xl text-slate-800 
}
.black-btn{
  @apply w-1/2 rounded-md border border-black bg-black px-4 text-sm text-center justify-center text-white transition-all 
 hover:bg-white hover:text-black md:px-5 py-2.5;
}

.extract-div{
  @apply w-1/2 grid grid-cols-1 items-center justify-center mr-10 md:w-5/6 md:mr-0 md:grid-cols-4 gap-3
}

.input-label{
  @apply w-full flex justify-around bg-green-200 
}

/*___________________download page_____________________________*/

.Download-section{
@apply w-full  flex flex-col items-center

}
.Download-div{
  @apply w-full  mt-11 flex flex-col items-center gap-10 md:w-1/2
}

.Download-nav{
 @apply w-1/2 flex flex-col items-center gap-2 p-5
}

.nav-button{
  @apply w-full flex gap-2
}

.Pdf-pageNum{
  @apply text-gray-700 font-semibold
}
.file-container{
  @apply w-full flex flex-col items-center
}
.download-btn{
  padding: 20px 50px;  
  width:50%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50px;
  @apply bg-red-800 text-red-200 mb-10 hover:bg-red-500
}

